@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "";
    var roleName = User.FindFirstValue(ClaimTypes.Role) ?? "";
    var notificationResult = await notificationService.GetNotificationsAsync(userId, roleName);
    var notifications = notificationResult.Result;
}

<div class="notification-dropdown-container">
    <button data-type="dropdown" data-target="#notification-dropdown" class="btn-notification fa-duotone fa-solid fa-bell" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;">
        @if (notifications.Any())
        {
            <div class="dot dot-red"></div>
        }
    </button>

    <div id="notification-dropdown" class="notification-dropdown">
        <div class="notification-header">
            <h4>Notifications</h4>
            <span class="notification-number">@notifications.Count()</span>
        </div>
        <div class="dropdown-divider"></div>
        <div class="notifications">

            @foreach (var notification in notifications)
            {
            <div class="notification-item" data-id="@notification.Id">
                <img class="image" src="@notification.Image" />
                <div class="message">@notification.Message</div>
                <div class="time" data-created="@notification.CreateDate.ToString("s")">@notification.CreateDate</div>
                <button class="btn-close" onclick="dismissNotification('@notification.Id')"></button>
            </div>
            }

        </div>
    </div>
</div>
